<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add new user</title>
  </head>
  <body>
    <form method="post" action="/user/new">
      <input name="email" type="text" placeholder="enter your email" />
      <input name="username" type="text" placeholder="enter your username" />
      <input
        name="password"
        type="password"
        placeholder="enter your password"
      />
      <button>Submit</button>
    </form>
  </body>
</html>
